{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
    {% include 'include/flash.html' %}
    <div class="flex items-center justify-center h-screen">
        <div class="w-64 md:w-96">
            <p class="text-center text-gray-800 font-semibold my-2 text-xl">Sign in</p>
            <form method="post" action="{% url 'login-view' %}">
                {% csrf_token %}
                {{ login.as_p }}
                <input type="submit" class="text-white text-center w-full bg-{{ settings.theme }}-900 hover:bg-gray-800 px-2 py-2 my-2" value="LOGIN">
            </form>
            <div class="text-center">
                <a class=" text-{{settings.theme }}-200 my-4" href="/signup"><i><u>Create an account, Sign up</u></i></a>
            </div>
        </div>
    </div>
{% endblock %}